h1 {
  font-family: 'gridnikregular';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  margin-top: 35px;
  position: fixed;
  left: 25px;
  line-height: 115%
}

h2 {
  font-family: 'gridnikregular';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  margin-top: 590px;
  position: fixed;
  left: 885px;
}

.square-1 {
width: 224px;
height: 224px;
border-right-width: 1px;
border-left-width: 2px;
border-top-width: 2px;
border-bottom-width: 1px;
border-style: solid;
left: 405px;
position: fixed;
top: 145px;
}

.square-2 {
width: 224px;
height: 224px;
border-right-width: 2px;
border-left-width: 2px;
border-top-width: 2px;
border-bottom-width: 1px;
border-style: solid;
left: 630px;
position: fixed;
top: 145px;
}

.square-3 {
width: 223px;
height: 224px;
border-right-width: 2px;
border-left-width: 2px;
border-top-width: 2px;
border-bottom-width: 2px;
border-style: solid;
left: 405px;
position: fixed;
top: 370px;
}

.square-4 {
width: 224px;
height: 224px;
border-right-width: 2px;
border-left-width: 2px;
border-top-width: 2px;
border-bottom-width: 2px;
border-style: solid;
left: 630px;
position: fixed;
top: 370px;
}

span {
  line-height: 125%
}
a span {display: none;}

a:hover span.one {
  display: block;
  font-family: 'gridnikregular';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: black;
text-align: center;
margin-top: 85px;
 }

a:hover span.two {
  display: block;
  font-family: 'gridnikregular';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: black;
text-align: center;
margin-top: 72.5px;
 }

a:hover span.three {
  display: block;
  font-family: 'gridnikregular';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: black;
text-align: center;
margin-top: 62px;
 }

a:hover .square-1 {
  background: #DCDCDC;
}

a:hover .square-2 {
  background: #DCDCDC;
}

a:hover .square-3 {
  background: #DCDCDC;
}

a:hover .square-4 {
  background: #DCDCDC;
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    text-decoration: none;
}

