.square-1 {
width: 224px;
height: 224px;
border-right-width: 1px;
border-left-width: 2px;
border-top-width: 2px;
border-bottom-width: 1px;
border-style: solid;
left: 405px;
position: fixed;
top: 145px;
border-color: #DCDCDC;
z-index: -1
}

.square-2 {
width: 224px;
height: 224px;
border-right-width: 2px;
border-left-width: 2px;
border-top-width: 2px;
border-bottom-width: 1px;
border-style: solid;
left: 630px;
position: fixed;
top: 145px;
border-color: #DCDCDC;
z-index: -1
}

.square-3 {
width: 223px;
height: 224px;
border-right-width: 2px;
border-left-width: 2px;
border-top-width: 2px;
border-bottom-width: 2px;
border-style: solid;
left: 405px;
position: fixed;
top: 370px;
border-color: #DCDCDC;
z-index: -1
}

.square-4 {
width: 224px;
height: 224px;
border-right-width: 2px;
border-left-width: 2px;
border-top-width: 2px;
border-bottom-width: 2px;
border-style: solid;
left: 630px;
position: fixed;
top: 370px;
border-color: #DCDCDC;
z-index: -1
}




h1 {
  font-family: 'gridnikregular';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  margin-top: -97px;
  position: fixed;
  left: 25px;
  line-height: 115%
}

h2 {
  font-family: 'gridnikregular';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  margin-top: 4px;
  position: fixed;
  left: 30px;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: silver;
}

.container {
  width: 450px;
  margin: 0 auto;
  text-align: justify;
  font-family: 'ag_book_pro_regularregular';
    font-weight: normal;
    font-style: normal;
    margin-top: 142px;
    line-height: 150%;
   font-size: 16px;
   margin-bottom: 50px;
   

}

.info {
  margin-top: 35px;
   font-family: 'ag_book_pro_regularregular';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 140%;
    padding-left: 0;
    letter-spacing: .25px;
    color: silver;
}